@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'Poppins', 'Avenir', 'Futura', 'Helvetica Neue', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html {
	font-size: 62.5%; /* 1rem = 10px */
}
body {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.5;
	letter-spacing: 0rem;
}

@media (min-width: 0px)    { main, nav, header, footer { padding: 0 1vw; font-size: 1.1rem } }
@media (min-width: 320px)  { main, nav, header, footer { padding: 0 2vw; font-size: 1.2rem } }
@media (min-width: 640px)  { main, nav, header, footer { padding: 0 3vw; font-size: 1.3rem } }
@media (min-width: 960px)  { main, nav, header, footer { padding: 0 4vw; font-size: 1.4rem } }
@media (min-width: 1280px) { main, nav, header, footer { padding: 0 5vw; font-size: 1.5rem } }
@media (min-width: 1600px) { main, nav, header, footer { padding: 0 6vw; font-size: 1.6rem } }
@media (min-width: 1920px) { main, nav, header, footer { padding: 0 7vw; font-size: 1.7rem } }
@media (min-width: 2240px) { main, nav, header, footer { padding: 0 8vw; font-size: 1.8rem } }
@media (min-width: 2560px) { main, nav, header, footer { padding: 0 9vw; font-size: 1.9rem } }
@media (min-width: 2880px) { main, nav, header, footer { padding: 0 10vw; font-size: 2.0rem } }
@media (min-width: 3200px) { main, nav, header, footer { padding: 0 11vw; font-size: 2.1rem } }
@media (min-width: 3520px) { main, nav, header, footer { padding: 0 12vw; font-size: 2.2rem } }